<div>
    <h2>
        <%= title %>
    </h2>
    <h3>Week number: <%= weekNum %>
    </h3>
    <div>
        <%- body %>
    </div>
    <% if(image) { %>
        <div><img src="<%= image %>" alt="image"></div>
    <% } %>
</div>